#buttonHome{
    background-color: green;
    color: #fff;
}
#buttonHome:hover{
    transform: scale(1.2);
}
#buttonPersonagensTiposClasses{
    background-color: #fff;
    color: green;
}
#buttonPersonagensTiposClasses:hover{
    color: #fff;
    background-color: green;
    transform: scale(1.2);
}
#buttonCriarPersonagem{
    background-color: #fff;
    color: green;
}
#buttonCriarPersonagem:hover{
    color: #fff;
    background-color: green;
    transform: scale(1.2);
}
#ticulo{
    width: 400px;
    padding-top: 20px;
    padding-left: 20px;
}
#textoDinamica{
    width: 400px;
    padding-left: 20px;
}
#textoHistoria{
    width: 400px;
    padding-left: 20px;
}
.imagemOvelhas{
    width: 400px;
    height: 300px;
    margin-left: 200px;
}
.imagemConstrucao{
    width: 400px;
    height: 300px;
    margin-left: 200px;
}
