#buttonHome{
    background-color: #fff;
    color: green;
}
#buttonHome:hover{
    color: #fff;
    background-color: green;
    transform: scale(1.2);
}
#buttonPersonagensTiposClasses{
    background-color: green;
    color: #fff;
}
#buttonPersonagensTiposClasses:hover{
    transform: scale(1.2);
}
#buttonCriarPersonagem{
    background-color: #fff;
    color: green;
}
#buttonCriarPersonagem:hover{
    color: #fff;
    background-color: green;
    transform: scale(1.2);
}
.tabelaPersonagens{
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 10px;
}
.tabelaPersonagens th, td {
    border: 1px solid black;
    width: 200px;
    text-align: center;
}